<div class="container col-6 border border-2 my-5 p-4 shadow p-3 mb-5 bg-body rounded">

    <!-- <form action="/otp" method="post"> -->
    <form [formGroup]="forgotPasswordOneForm" (ngSubmit)="forgotPasswordOneComponentSubmit()">
        <div *ngIf="errormsgshow">
            <p class="text-danger">{{errormsg}}</p>
        </div>

      


        <div class="mb-3">
            <h3 class="mb-3" style="font-family:Arial, Helvetica, sans-serif"><b>Find your account</b></h3>
            <hr class="mb-3">
                <!-- {{!-- <div class="form-text">Please enter your email address or mobile number to search for your account.</div> --}} -->
                <div class="form-text">Please enter your email address to reset your password.</div>
                
                <input type="email" class="form-control" formControlName="email"  >
            </div>
            
           
            <button type="submit" class="btn btn-outline-warning">Send Reset Password</button>
    </form>

</div>