<app-parent></app-parent>

<div class="container">
  <!-- <ul class="nav nav-tabs">

      <button class="nav-link" routerLink="/sort-month">SortMonth</button>


      <button class="nav-link" routerLink="/sort-week">SortWeek</button>


      <button class="nav-link" routerLink="/sort-day">SortDay</button>

  </ul> -->
  <!-- <app-sort-bar></app-sort-bar>
  <app-sort-line></app-sort-line>
  <app-pie-chart></app-pie-chart>
  <app-gauge></app-gauge> -->

  <!-- <div class="dropdown">
    <button class="dropbtn">Filters Bars</button>
    <div class="dropdown-content">
      <a [routerLink]="['sort-day']">Sort Day</a>
      <a [routerLink]="['sort-week']">Sort Week</a>
      <a [routerLink]="['sort-month']">Sort Month</a>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div> -->
  <div >
    <!-- <app-sort-bar></app-sort-bar> -->
    <!-- <app-pie-chart></app-pie-chart> -->
    <app-sort-line></app-sort-line> 
  </div>
  
  <div >
    <!-- <app-pie-chart></app-pie-chart> -->

    <!--<app-vl-vn-kw></app-vl-vn-kw> -->
    
    <!--<app-error-graph></app-error-graph> -->
    <app-sort-bar></app-sort-bar>
  </div>
  <!-- <app-gauge></app-gauge> -->

</div>